<!DOCTYPE html>
<html lang=en">

<head>
  <title>{TITLE_OF_DOC}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
  <link href="style-post.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>

</head>

<body>
  <nav>
    <div>
      <h4><a href="/">Bjoroen</a></h4>
    </div>
    <div>
      <h4><a href="/about">About</a></h4>
    </div>
  </nav>

  {BLOG_POST}

</body>

</html>
